In [2]:
import pandas as pd
CrimeData1=pd.read_csv("/Users/vamshikonapuram/Library/CloudStorage/OneDrive-UMBC/601/Assignments/Project 1/Part_1_Crime_Data.csv")
CrimeData1

,X,Y,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Inside_Outside,Weapon,Post,...,Ethnicity,Location,Old_District,New_District,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents
0,-76.530718,39.327552,19091,22L02382,2022/12/07 17:00:00+00,6J,LARCENY,Inside,NaN,441.0,...,NaN,5200 SAYBROOK RD,NORTHEAST,NaN,CEDONIA,39.327552,-76.530718,"(39.327551999999997,-76.530717999999993)",STREET,1
1,-76.597189,39.302014,24291,22F07305,2022/06/22 19:00:00+00,6D,LARCENY FROM AUTO,Inside,NaN,323.0,...,NaN,1500 WARD CT,EASTERN,NaN,GAY STREET,39.302014,-76.597189,"(39.302014,-76.597189)",SHED/GARAGE,1
2,-76.609534,39.318181,24325,22G02402,2022/07/03 22:00:00+00,6F,LARCENY,Inside,NaN,513.0,...,NaN,2500 GREENMOUNT AVE,NORTHERN,NaN,HARWOOD,39.318181,-76.609534,"(39.318181000000003,-76.609533999999996)",STREET,1
3,-76.679331,39.336049,24562,22K00842,2022/11/03 05:00:00+00,5A,BURGLARY,NaN,NaN,623.0,...,NaN,3800 OAKFORD AVE,NORTHWEST,NaN,DOLFIELD,39.336049,-76.679331,"(39.336048529574548,-76.679330568340902)",NaN,1
4,-76.605756,39.351405,24820,22G06342,2022/07/20 17:00:00+00,6D,LARCENY FROM AUTO,Inside,NaN,524.0,...,NaN,700 BEAUMONT AVE,NORTHERN,NaN,WINSTON-GOVANS,39.351405,-76.605756,"(39.351405,-76.605756)",STREET,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260573,-76.682429,39.327480,311557,17A12573,2017/01/30 16:00:00+00,2A,RAPE,NaN,OTHER,621.0,...,NaN,3400 GARRISON BLVD,NORTHWEST,NaN,CALLAWAY-GARRISON,39.327480,-76.682429,"(39.32748,-76.682429)",NaN,1
260574,-76.632783,39.301947,311558,17A13108,2017/01/30 19:45:00+00,9S,SHOOTING,Outside,FIREARM,123.0,...,NaN,1500 PENNSYLVANIA AV,CENTRAL,NaN,UPTON,39.301947,-76.632783,"(39.301947,-76.632783)",STREET,1
260575,-76.599075,39.328546,311559,17A12970,2017/01/30 14:30:00+00,5A,BURGLARY,NaN,NaN,412.0,...,NaN,1200 E 33RD ST,NORTHEAST,NaN,EDNOR GARDENS-LAKESIDE,39.328546,-76.599075,"(39.328546,-76.599075)",NaN,1
260576,-76.681098,39.327017,311560,17C12326,2017/01/30 15:00:00+00,6E,LARCENY,O,NaN,623.0,...,NaN,3400 AYRDALE AVE,NORTHWEST,NaN,CALLAWAY-GARRISON,39.327017,-76.681098,"(39.327017103316052,-76.681097513682047)",STREET,1
260577,-76.585529,39.351471,311561,17A12932,2017/01/30 13:30:00+00,4E,COMMON ASSAULT,NaN,NaN,415.0,...,NaN,1600 INGRAM RD,NORTHEAST,NaN,PERRING LOCH,39.351471,-76.585529,"(39.351471,-76.585529)",NaN,1

In [3]:
crimes=['AGG. ASSAULT','SHOOTING']
r_df=CrimeData1[(CrimeData1['Description'].isin(crimes))]
r_df

,X,Y,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Inside_Outside,Weapon,Post,...,Ethnicity,Location,Old_District,New_District,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents
14,-76.605148,39.300158,27250,22F01901,2022/06/06 20:35:00+00,4A,AGG. ASSAULT,Inside,FIREARM,324.0,...,NaN,800 McAleer Ct,EASTERN,NaN,OLDTOWN,39.300158,-76.605148,"(39.300158000000003,-76.605148)",STREET,1
30,-76.644749,39.292141,31791,22L04153,2022/12/13 17:51:00+00,4A,AGG. ASSAULT,Inside,FIREARM,711.0,...,NOT_HISPANIC_OR_LATINO,300 N BRUCE ST,WESTERN,NaN,FRANKLIN SQUARE,39.292141,-76.644749,"(39.292140912786984,-76.644748873549744)",STREET,1
42,-76.610479,39.316381,31890,22L03837,2022/12/12 18:44:00+00,4C,AGG. ASSAULT,Outside,OTHER,311.0,...,NOT_HISPANIC_OR_LATINO,2400 BRENTWOOD AVE,EASTERN,NaN,BARCLAY,39.316381,-76.610479,"(39.316381,-76.610478999999998)",OTHER/RESIDENTIAL,1
50,-76.662783,39.334560,31987,22L02030,2022/12/07 09:58:00+00,4A,AGG. ASSAULT,Inside,FIREARM,614.0,...,NOT_HISPANIC_OR_LATINO,4000 PARK HEIGHTS AVE,NORTHWEST,NaN,CENTRAL PARK HEIGHTS,39.334560,-76.662783,"(39.334560000000003,-76.662783000000005)",PARK,1
51,-76.686823,39.276815,31988,22L01968,2022/12/07 02:00:00+00,4B,AGG. ASSAULT,Outside,KNIFE_CUTTING_INSTRUMENT,833.0,...,NOT_HISPANIC_OR_LATINO,500 YALE AVE,SOUTHWEST,NaN,YALE HEIGHTS,39.276815,-76.686823,"(39.276814999999999,-76.686823000000004)",OTHER/RESIDENTIAL,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260539,-76.580699,39.297230,311108,17A11850,2017/01/27 20:55:00+00,4C,AGG. ASSAULT,I,OTHER,221.0,...,NaN,500 N LUZERNE AVE,SOUTHEAST,NaN,MCELDERRY PARK,39.297230,-76.580699,"(39.29723,-76.580699)",ROW/TOWNHOUSE-OCC,1
260548,0.000000,0.000000,311117,17A11701,2017/01/27 15:00:00+00,4C,AGG. ASSAULT,NaN,OTHER,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,"(0,0)",NaN,1
260565,-76.693772,39.281383,311250,17A00280,2017/01/27 10:50:00+00,4A,AGG. ASSAULT,I,FIREARM,822.0,...,NaN,300 S BEECHFIELD AVE,SOUTHWEST,NaN,BEECHFIELD,39.281383,-76.693772,"(39.281383,-76.693772)",OTHER - INSIDE,1
260568,-76.568225,39.292472,311253,17A12766,2017/01/30 00:10:00+00,4C,AGG. ASSAULT,I,OTHER,223.0,...,NaN,3500 E BALTIMORE ST,SOUTHEAST,NaN,BALTIMORE HIGHLANDS,39.292472,-76.568225,"(39.292472,-76.568225)",BAR,1
260574,-76.632783,39.301947,311558,17A13108,2017/01/30 19:45:00+00,9S,SHOOTING,Outside,FIREARM,123.0,...,NaN,1500 PENNSYLVANIA AV,CENTRAL,NaN,UPTON,39.301947,-76.632783,"(39.301947,-76.632783)",STREET,1

In [4]:
CrimeData1['CrimeDateTime'] = pd.to_datetime(CrimeData1['CrimeDateTime'], format='%Y/%m/%d %H:%M:%S+%f')
start_date = pd.to_datetime('2018-01-01')
end_date = pd.to_datetime('2023-01-01') 

filtered_data = CrimeData1[(CrimeData1['CrimeDateTime'] >= start_date) & (CrimeData1['CrimeDateTime'] < end_date)]
filtered_data

,X,Y,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Inside_Outside,Weapon,Post,...,Ethnicity,Location,Old_District,New_District,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents
0,-76.530718,39.327552,19091,22L02382,2022-12-07 17:00:00,6J,LARCENY,Inside,NaN,441.0,...,NaN,5200 SAYBROOK RD,NORTHEAST,NaN,CEDONIA,39.327552,-76.530718,"(39.327551999999997,-76.530717999999993)",STREET,1
1,-76.597189,39.302014,24291,22F07305,2022-06-22 19:00:00,6D,LARCENY FROM AUTO,Inside,NaN,323.0,...,NaN,1500 WARD CT,EASTERN,NaN,GAY STREET,39.302014,-76.597189,"(39.302014,-76.597189)",SHED/GARAGE,1
2,-76.609534,39.318181,24325,22G02402,2022-07-03 22:00:00,6F,LARCENY,Inside,NaN,513.0,...,NaN,2500 GREENMOUNT AVE,NORTHERN,NaN,HARWOOD,39.318181,-76.609534,"(39.318181000000003,-76.609533999999996)",STREET,1
3,-76.679331,39.336049,24562,22K00842,2022-11-03 05:00:00,5A,BURGLARY,NaN,NaN,623.0,...,NaN,3800 OAKFORD AVE,NORTHWEST,NaN,DOLFIELD,39.336049,-76.679331,"(39.336048529574548,-76.679330568340902)",NaN,1
4,-76.605756,39.351405,24820,22G06342,2022-07-20 17:00:00,6D,LARCENY FROM AUTO,Inside,NaN,524.0,...,NaN,700 BEAUMONT AVE,NORTHERN,NaN,WINSTON-GOVANS,39.351405,-76.605756,"(39.351405,-76.605756)",STREET,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223057,-76.630378,39.297290,264908,18A01135,2018-01-03 21:00:00,7A,AUTO THEFT,O,NaN,123.0,...,NaN,1100 MYRTLE AVE,CENTRAL,NaN,UPTON,39.297290,-76.630378,"(39.29729,-76.630378)",STREET,1
223058,-76.549686,39.336122,264909,18A01550,2018-01-03 12:00:00,5A,BURGLARY,I,NaN,443.0,...,NaN,4400 FRANKFORD AVE,NORTHEAST,NaN,FRANKFORD,39.336122,-76.549686,"(39.336122,-76.549686)",ROW/TOWNHOUSE-OCC,1
223059,-76.601937,39.240019,264910,18A00954,2018-01-03 17:25:00,4E,COMMON ASSAULT,NaN,NaN,913.0,...,NaN,500 BALTIC AVE,SOUTHERN,NaN,BROOKLYN,39.240019,-76.601937,"(39.240019,-76.601937)",NaN,1
223060,-76.645861,39.297668,264911,18A00781,2018-01-03 10:24:00,4C,AGG. ASSAULT,O,OTHER,722.0,...,NaN,800 N FULTON AVE,WESTERN,NaN,HARLEM PARK,39.297668,-76.645861,"(39.297668,-76.645861)",STREET,1
223164,-76.647010,39.290901,265015,18A00742,2018-01-03 08:00:00,6E,LARCENY,O,NaN,714.0,...,NaN,200 MONROE ST,WESTERN,NaN,FRANKLIN SQUARE,39.290901,-76.647010,"(39.290901,-76.64701)",STREET,1